%h1= @article.name
%h2= "by #{@article.author.name}"

%p= @article.content

%hr

#comments
  %h3 Comments

  - @article.comments.each do |comment|
    %p.comment
      = "#{comment.name} says: #{comment.content}"

%hr

= link_to 'Home', root_path